<!-- David Gabriel Moreira Xavier -->
<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css')}}">

</head>
<body>

<h1>Criar Tarefa</h1>
<form action="/novaTarefa" method="POST">
    <label for="decricao">Descrição da Tarefa</label>
    <input type="text" id="descricao" name="desc_tarefa" required>
    <button type="submit">Cadastrar Tarefa</button>
</form>

<h1>Tarefas</h1>
<ul>
    {% for tarefa in tarefas %}
        <li> <!-- coloquei dentro do mesmo form os dois buttons para ficar na mesma caixa -->
            <form action="{{url_for('hello.editarTarefa', tarefa_id=tarefa.id)}}" method="POST">
                <input type="text" name="desc_tarefa" value="{{tarefa.descricao}}" required>
                <button type="submit" name="acao" value="atualizar">Atualizar</button>
                <button type="submit" formaction="{{url_for('hello.removerTarefa', tarefa_id=tarefa.id)}}" name="acao" value="remover">Remover</button>
            </form>
        </li>
    {% endfor %}
</ul>
</body>
</html>